.hero {
    background-color: $color-background;

    .hero-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
        padding: 40px 7vw;

        @media (max-width: $breakpoint-desktop) {
            justify-content: center;
        }

        .hero-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 35px;
            max-width: 580px;
            padding-bottom: 30px;

            @media (max-width: $breakpoint-laptop) {
                padding-bottom: 0;
            }

            .hero-tabs {
                display: flex;

                .hero-tab {
                    height: 30px;
                    padding: 2px 10px;
                    color: $color-inactive;
                    border-bottom: 2px solid $color-inactive;

                    &:hover {
                        color: $color-text-brand-light;
                        border-color: $color-border-brand-light;
                    }

                    &.active {
                        color: $color-text-brand;
                        border-color: $color-background-brand;
                    }
                }
            }

            .hero-text {
                display: none;
                flex-direction: column;
                gap: 35px;

                &.active {
                    display: flex;
                }

                @media (max-width: $breakpoint-mobile) {
                    text-align: center;
                }

                h1 {
                    font-family: $font-primary;
                    color: $color-text-heading;
                }

                p {
                    max-width: 448px;
                    margin-bottom: 16px;
                    font-family: $font-secondary;
                    letter-spacing: 0.05em;
                    color: $color-text-body;
                }
            }

            .hero-buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;

                @media (max-width: $breakpoint-mobile) {
                    justify-content: center;
                }
            }
        }

        .hero-img {
            position: relative;
            padding: 1.7%;

            img {
                display: block;
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
