.decor-triangle {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.decor-triangle-1 {
    aspect-ratio: 1;
    background-image: url(../assets/icons/triangle-1.svg);
}

.decor-triangle-2 {
    aspect-ratio: 1;
    background-image: url(../assets/icons/triangle-2.svg);
}

.decor-triangle-3 {
    aspect-ratio: 1;
    background-image: url(../assets/icons/triangle-3.svg);
}

.decor-triangle-1-hero {
    top: 55%;
    left: 0px;
    width: 7.2%;
}

.decor-triangle-2-hero {
    top: 10%;
    right: 0px;
    width: 7.2%;
}

.decor-triangle-3-hero {
    top: 70%;
    right: 0px;
    width: 13%;
}

.decor-triangle-1-cta {
    top: 70%;
    left: -1%;
    width: 3.5%;

    @media (max-width: $breakpoint-tablet-sm) {
        display: none;
    }
}

.decor-triangle-2-cta {
    top: 0;
    left: 35%;
    width: 3.5%;

    @media (max-width: $breakpoint-tablet-sm) {
        display: none;
    }
}

.decor-triangle-3-cta {
    top: 70%;
    right: -2%;
    width: 5.5%;

    @media (max-width: $breakpoint-tablet-sm) {
        display: none;
    }
}